<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{title}</title>
{meta}
<link rel="stylesheet" href="/templates/basic/style.css" />
</head>
<body>
	<form method="post" action="{action}" class="block">
		<legend>{heading}</legend>
		<input name="csrf" type="hidden" value="{csrf}" />
		<p><input name="password" type="password" placeholder="old password" pattern=".{5,200}" required /></p>
		<p><input name="password" type="password" placeholder="new password" pattern=".{5,200}" required /></p>
		<p><input type="submit" value="Change password" /></p>
	</form>
</body>
</html>