<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{title}</title>
{meta}
<link rel="stylesheet" href="/templates/basic/style.css" />
</head>
<body>
<div class="page">
	<form  method="post" action="{action}">	
		<legend>{heading}</legend>
		<input name="csrf" type="hidden" value="{csrf}" />
		<p><input name="title" type="text" size="50" placeholder="title" pattern=".{2,80}" required /></p>
		<p><textarea name="body" rows="6" cols="60" placeholder="body" required></textarea></p>
		<p><input name="title" type="datetime-local" placeholder="pubdate"  /> <input type="submit" value="Post" /></p>
	</form>
</div>
</body>
</html>