<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>{title}</title>
{meta}
<link rel="stylesheet" href="/templates/basic/style.css" />
</head>
<body>
<div class='page'>
	<h1>{heading}</h1>
	{body}
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris quis dolor neque. Sed tempus odio at nisl vulputate nec commodo nibh suscipit. Nam commodo feugiat massa, non elementum risus convallis sed. Quisque ut nulla non leo lacinia laoreet. Etiam eu sagittis est. Duis consequat vestibulum justo, tincidunt malesuada ipsum volutpat et. Vestibulum sodales eleifend leo, ac dapibus metus condimentum quis. Vestibulum volutpat pulvinar ultricies. Aliquam erat volutpat. Cras fermentum, enim sit amet pharetra bibendum, neque lorem gravida mi, vitae pretium justo massa ut dui. Ut metus urna, euismod vel adipiscing sit amet, aliquam sagittis nunc.</p>
</div>
</body>
</html>